@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    box-sizing: border-box;
   
}

body{
 font-family:'Questrial', sans-serif ;
 display: flex;
 flex-direction: column;
 align-items: center;
 max-height: 100vh;
 margin: 0;
 background-color: #666;
}

h1{
    color: aliceblue;
}

.screen{
    cursor: pointer;
    width: 50%;
    background-color: #000 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.controls {
    background: #333;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
}
.controls .fa-play {
    color: chartreuse;
}

.controls .fa-stop {
    color:darkred;
}

.controls .fa-pause {
    color: #fff;
}
.controls .btn {
    border: 0;
    background:transparent;
    cursor: pointer;
}

.controls .timestamp {
    color: antiquewhite;
    font-weight: bold;
    margin-left: 10px;
}

@media(max-width: 800px) {
.screen,
.controls {
    width: 90%;
}
}

.btn:focus {
    outline: 0;
}

